<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="fragments/header :: header"></div>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Event Form</title>
  <link rel="stylesheet" href="/css/form.css" th:href="@{/css/form.css}">
  <script src="/js/EventForm.js"></script>
</head>
<body>
  <div class="form-container">
    <h2>Event Form</h2>
    <form action="/submit" method="post">
      <label for="event-name">Event Name:</label>
      <input type="text" id="event-name" name="eventName">
  
      <label for="event-type">Event Type:</label>
      <select id="event-type" name="eventType">
        <option value="Party">Party</option>
        <option value="Speech">Speech</option>
      </select>
  
      <label for="event-start-date">Event Start Date:</label>
      <input type="datetime-local" id="event-start-date" name="eventStartDate">
  
      <label for="event-end-date">Event End Date:</label>
      <input type="datetime-local" id="event-end-date" name="eventEndDate">
  
      <label for="event-status">Status:</label>
      <select id="event-status" name="eventStatus">
        <option value="In progress">In progress</option>
        <option value="Not started">Not started</option>
      </select>
  
      <label for="event-participants">Number of Participants:</label>
      <input type="number" id="event-participants" name="eventParticipants">
  
      <label for="event-venue">Venue:</label>
      <select id="event-venue" name="eventVenue">

      </select>
  
      <label for="event-admin">Admin:</label>
      <select id="event-admin" name="eventAdmin">

      </select>
  
      <label for="event-client">Client:</label>
      <select id="event-client" name="eventClient">
        <option value="8747800f-5b88-4b6e-baf4-196566ccd8ce">Alex</option>
        <option value="ede0c4f3-0e5c-42ba-8cb6-3e5be423fb5b">Misaki Mei</option>
      </select>
  
      <label for="event-equipment">Equipment Requirement:</label>
      <select id="event-equipment" name="eventEquipment" multiple>
        <option value="Av">Av</option>
        <option value="Notes">Notes</option>
      </select>
  
      <label for="event-food">Food Requirement:</label>
      <select id="event-food" name="eventFood" multiple>
        <option value="lunch">Lunch</option>
        <option value="coffee">Coffee</option>
      </select>
  

  
      <input type="submit" value="Submit">
    </form>
  </div>

</body>
</html>
