<!-- Footer HTML -->
<footer th:fragment="footer" class="footer">
    <link rel="stylesheet" href="/css/footer.css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <div class="footer-container">
        <div class="footer-section">
            <img src="logo.png" alt="Tramshed Tech Logo" class="footer-logo">
            <p>Copyright &copy; 2023 Tramshed Tech<br>All rights reserved</p>
            <div class="social-icons">

            </div>
        </div>
        <div class="footer-section">
            <h3>Company</h3>
            <ul>
                <li><a href="#">Locations</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Accessibility</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Members Login</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Support</h3>
            <ul>
                <li><a href="#">FAQ's</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Programmes</a></li>
                <li><a href="#">Policies</a></li>
                <li><a href="#">Website Feedback</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Download our App</h3>
            <div class="app-links">
                <a href="#"><img src="appstore.png" alt="App Store"></a>
                <a href="#"><img src="googleplay.png" alt="Google Play"></a>
            </div>
            <a href="#" class="newsletter">Subscribe to our newsletter</a>
        </div>
    </div>
</footer>
