body, html {
    height: 100%;
    margin: 0;
    background-color: #000; /* 背景颜色改为黑色 */
}
.container {
    max-width: 600px;
    background-color: #fff; /* 中间区域背景色为白色 */
    padding: 20px;
    border-radius: 8px;
    margin-top: 40px;
}
.header-back {
    font-size: 24px;
    cursor: pointer;
}